.login_box {
    display: inline-block;
    text-align: center;
}

input {
    font-size: 22px;
}

.login_btn {
    background-color: #031f42;
    display: inline-block;
    padding: 7px;
    font-size: x-large;
    border-radius: 10px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.login_btn:hover {
    box-shadow: 3px 3px #4cadfe;
    cursor: pointer;
}

.account_btn {
    background-color: #000000;
    display: inline-block;
    padding: 7px;
    font-size: x-large;
    border-radius: 10px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
}

.reg_popup {
    background-color: #edede9;
    width: 70%;
    position: absolute;
}

.x_btn{
    float: right;
    margin-right: 1-0px;
    padding: 2px;
    cursor: pointer;
}